
#main {
    background-color: black;
    width: 100%;
}
body{
    width: 100%;
    margin: 0 auto;
}


/*-----------------------------*/

#header{
    margin: 0px 0px 152px 0px;
    width: 100%;
    height: auto;
}
#header .menu-header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1278px;
}
#header .horizontal-menu{
    font-family: "Inter", sans-serif;
    display: flex;
    width: 478px;
    height: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}
#header .menu li {
    margin-right: 20px;
}
#header .menu a{
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
}
#header .menu .btn-1{
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}
hr{
    border: none;
    height: 1px;
    background-color: #333;
}

/*-----------------------------*/


/*.container-1a,
.div-container-2,
.div-container-3 {
    margin: 0 auto;
}*/


#container{
    display: flex;
    flex-direction: column;
    width: 1276px;
    height: auto;
    margin: 0 auto;
}
#container .container-1a{
    display: flex;
    align-items: center;
    width: 1276px;
    height: 366px;
    margin: 0px 0px 64px 0px;
}
#container .container-1a .card-son-1a{
    width: 365px;
    height: 230px;
    color: #FFFFFF;
}
#container .container-1a .card-son-1a .Pai-Titulo-1a {
    display: flex;
    align-items: baseline;
    margin: 0px 61px 0px 0px;
    width: 365px;
    height: 57px;
    top: 68px;
}
#container .DBS{
    font-weight: 700;
    font-size: 60px;
    line-height: 46.2px;
    letter-spacing: 1px;
}
#container .container-1a .ULT{
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
    line-height: 46.2px;
    letter-spacing: 1px;   
}
#container .container-1a .card-son-1a .Paragrafo-card-son-1a{
    font-family: "Inter", sans-serif;
    width: 350px;
    height: 73px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24.2px;
    letter-spacing: 1px;
    margin: 24px 76px 24px 0px;
}
#container .container-1a .card-son-1a .Botão-card-son-1a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;  
    text-transform: uppercase;
    margin-bottom: 68px;
    border: 2px solid white;
    padding: 16px 30px;
    border-radius: 10px;
    width: 25%;
}
#container .container-1a .card-son-1b{
    width: 850px;
    height: 366px;
}
#container .container-2a {
    display: flex;
    width: 1244px;
    height: 364px;
    margin: 0px 0px 64px 0px;
}
#container .container-2a .card-son-2a{
    width: 562px;
    height: 364px;
}
#container .container-2a .card-son-2b{
    width: 636px;
    height: 182px;
    margin: 60px 0px 120px 46px;
}
#container .container-2a .card-son-2b .Paragrafo-card-son-2a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 1px;
    width: 95%;
    height: 97px;
    margin-bottom: 33px;
}
#container .container-2a .card-son-2b .Botão-card-son-2a {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;  
    text-transform: uppercase;
    margin-bottom: 68px;
    border: 2px solid white;
    padding: 16px 30px;
    border-radius: 10px;
    width: 15%;
}
#container .container-3a {   
    width: 1296px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}
#container .container-3a .card-son-3a{
    width: 426px;
    height: 207px;
}
#conatiner .container-3a .card-son-3b{
    width: 533px;
    height: 280px;
    margin: 44px 113px 16px 162px;
}








/*-----------------------------*/


#footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 281px;
} 

